[submodule "third_party/robocasa"]
	path = third_party/robocasa
	url = git@github.com:wpi-automata/robocasa.git
[submodule "third_party/robosuite"]
	path = third_party/robosuite
	url = git@github.com:wpi-automata/robosuite.git
